<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MBC Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="church-background">
  <% include ../layouts/header %>
  <% include ../layouts/message %>
  <div class="main-container">
    <div id="main-header">
      <h1>Let's find a place to keep your bike safe!</h1>
      <br/>
      <a href="/map"><input type="button" class="start-now" value="Start Now"></a>
    </div>
    <section id="sec-back">
      
    </section>
  </div>

</body>

</html>