<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link rel="stylesheet" href="/stylesheets/">
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body >
    <% include ../layouts/header %>
    <% include ../layouts/message %>
    <div class="main-container">

      <div id="signup-container">
        <h1>Signup!</h1>
        <form class="" action="/clients/signup" method="post">
          <input type="hidden" name="user_type" value="client">
          <div class="signup-input-container">
            <label for="firstname">Name</label>
            <input type="text" name="name" value="" required>

          </div>

          <div class="signup-input-container">
            <label for="email">Email</label>
            <input type="text" name="email" value="" required>
            <label for="password">Password</label>
            <input type="password" name="password" value="" required>
          </div>

          <div class="signup-input-container">
            <input type="submit" name="" value="Create Host Account" id="submit_button">
          </div>
        </form>
      </div>




    </div>
  </body>
</html>
