<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="church-background">
    <% include ../layouts/header %>
    <% include ../layouts/message %>
    <div class="main-container">

        <h1>Congrats!</h1>
        <h3>You Reserved a spot!</h3>

        <p>with: <%=host.name%>



    </div>

  </body>
</html>
