<div id="header">

  <div id="header_main_nav">
  <a href="/"><h1 style="padding: 0 0 10px 20px"><img src="/images/Logo.png" style="width: 30px;"/> SafeKeep</h1></a>
  </div>

  <div id="header_buttons" class="avenir-900">
    <div class="header-button"><a href="/">Home</a></div>
    <% if (current_user) { %>
      <% if (current_user.user_type){ %>
      <div class="header-button"> <span id="current-user"><a href="/hosts/<%= current_user._id %>"><%= current_user.name %></a> </span></div>
      <%}%>
        <div class="header-button"> <a href="/hosts/logout">Logout</a></div>
    <% } else{ %>
      <div class="header-button"><a href="/hosts/login">Log in</a></div>
      <div class="header-button"><a href="/signup/choose">Sign Up</a></div>
    <% } %>
  </div>
</div>
